version: "3.8"

services:
  db:
    image: postgres:13.2-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: gutentag

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/usr/src/backend
    depends_on:
      - db
    ports:
      - 5000:5000
    environment:
      PYTHONDONTWRITEBYTECODE: 1
      PYTHONUNBUFFERED: 1
      FLASK_ENV: development
      DATABASE_URL: postgresql://admin:admin@db:5432/gutentag

  frontend:
    build:
      context: ./frontend
    #stdin_open: true # docker run -i
    #tty: true # docker run -t
    volumes:
      - ./frontend:/usr/src/frontend
      - /usr/src/frontend/node_modules
    ports:
      - 3000:3000
    environment:
      CHOKIDAR_USEPOLLING: 1 # hot reloading

volumes:
  postgres_data:
