.marker {
  position: fixed;
  top: 16px;
  left: 16px;
  width: 200px;
  height: 200px;
  border: 2px dashed black;
  box-sizing: border-box;
}
.marker-header {
  margin-top: -35px;
}
.marker-header input {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  min-width: 6em;
}
