.create-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.create-container Form {
  border-radius: 10px;
  width: fit-content;
}

.titleLabel {
  font-size: 30px;
  width: max-content;
}

@media (min-width: 768px) {
  .create-container Form {
    width: 30em;
  }
}
