.classification-container {
  height: 100%;
}

.text-container {
  height: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 15px;
  border: 1px #f4f4f4 solid;
  font-size: 25px;
  padding-top: 5rem;
  overflow-y: scroll;
}


.form-group{
  display: flex;
  flex-direction: row;
  margin:0 6rem;
}

.input-box {
  background-color: white;
  flex-grow: 2;
  border-radius: 5px;
  border: #dfdede solid 1px;
}

.input-box:focus {
  outline: none;
  border: #00c8c8 solid 2px;
}


.label-btn{
  margin-left: 1rem;
  flex-grow: 2;
  background-color: #063954;
  color:black;
  }

  .label-btn:hover{
    border: black solid 2px;
  }