.main-footer {
  color: #063954;
  background-color: #ededed;
  padding-top: 3em;
  padding-left: 3em;
  position: relative;
  bottom: 0;
  max-width: 100%;
  text-align: center !important;
}

.github-logo {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 100px;
}

.list-unstyled {
  font-size: 16px;
}

.row > div {
  padding: 0 50px 0 50px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

@media screen and (max-width: 960px) {
  .list-unstyled {
    font-size: 13px;
  }
  .github-logo {
    width: 90px;
    height: 90px;
  }

  .row > div {
    padding: 0 30px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .list-unstyled {
    font-size: 12px;
  }
  .github-logo {
    width: 85px;
    height: 85px;
  }
  .col-small {
    font-size: 11px;
  }

  .col > h1 {
    font-size: 15px;
  }
  .row > div {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 520px) {
  .list-unstyled {
    font-size: 9px;
  }
  .github-logo {
    width: 70px;
    height: 70px;
  }
  .col-small {
    font-size: 9px;
  }

  .col > h1 {
    font-size: 11px;
  }

  .row > div {
    padding: 0 10px 0 10px;
  }
}
