@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

article {
  position: relative;
  font-size: 1em;
  max-width: 1320px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  margin: auto;
  flex: 1 0 auto;
}

body h1,
h2 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #063954;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button.dark {
  color: #ffffff;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.7em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  font-size: 18px;
}

button.dark:hover {
  color: #ffffff;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

button.dark:not(:disabled):not(.disabled):active,
button.dark:focus,
button.dark:not(:disabled):not(.disabled):active:focus {
  color: #ffffff;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

button.dark:disabled {
  background-color: #063954;
  border-color: #063954;
}

input.text,
select.text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input.text:focus,
select.text:focus {
  color: #495057;
  background-color: #fff;
  border-color: #00c8c8;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 200 200 / 25%);
}

div.form-row {
  margin-left: 0px;
}

td.right,
th.right {
  text-align: end;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.achievement-title {
  font-size: large;
  font-weight: 800;
}

.achievement-subtitle {
  font-weight: 600;
}

.achievement-footnote {
  font-size: small;
}
