.navbar {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.container.navbar-container, #navbar-content {
  max-width: 1320px;
  padding-left: 3em;
  padding-right: 3em;
}

.navbar-collapse {
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
}

a.nav-link.text-label, #home-link, #settings-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 54px;

  padding: 0.2em 0.4em;

  color: #063954;
}

.icon-offset {
  padding-bottom: 0.125em;
  position: relative;
  color: #063954;
}
