<<<<<<< HEAD
.navbar-container {
  max-width: 100%;
}

.navbar-collapse {
  text-align: center;
}

.basic-navbar-nav {
  max-width: 100%;
=======
.navbar {
  background-color: darkcyan;
>>>>>>> a73c390453eb437b3790ebf0987f8fc1fa67ff18
}
