.make-large {
  color: #063954;
}

.content-container {
  margin-top: 50px;
  width: 100%;
}

.progress-bars {
  padding: 0px 150px;
}

.left-align-arrow {
  text-align: left;
  height: 25rem;
}

.right-align-arrow {
  text-align: left;
  height: 25rem;
}

.display-content {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 30%;
}

.data-content {
  flex-grow: 4;
}

.main-content {
  text-align: center;
  display: flex;
}

.arrow-btn:hover {
  cursor: pointer;
  color: rgb(38, 9, 201);
}
