.make-large {
  color: #063954;
}

.content-container {
  border: 1px #333 solid;
  margin-top: 50px;
  width: 100%;
}

.progress-bars {
  padding: 0px 150px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: left;
}

.display-content {
  width: 100%;
  margin: auto;
  text-align: center;
  border: 1px #333 solid;
  position: absolute;
  top: 30%;
}

.data-content {
  text-align: center;
  margin: auto;
  width: 480px;
  border: 1px #333 solid;
  padding: 0px;
  display: inline-block;
}

.main-content {
  text-align: center;
  display: flex;
}

.arrow-btn:hover {
  cursor: pointer;
  color: rgb(38, 9, 201);
}
