/* Input box style */
.input-box {
  width: 330px;
  height: 54px;
  background: #e5e5e5;
  border-radius: 6px;
}

input.input-box:focus {
  color: #495057;
  background-color: #fff;
  border-color: #00C8C8;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 200 200 / 25%);
}

/* Big text style */
.text-label-big {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 54px;

  color: #063954;
}

/* Center page and follow columndirection */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Set logosize */
.login-logo {
  width: 500px;
  height: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

/* Makes button centered and styled */
button.btn-login {
  font-family: Roboto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
  margin-left: 0px;
  margin-right: 2em;
}

button.btn-login:hover {
  color: #FFFFFF;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

button.btn-login:not(:disabled):not(.disabled):active,
button.btn-login:focus,
button.btn-login:not(:disabled):not(.disabled):active:focus {
  color: #FFFFFF;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .input-box {
    height: 34px;
    width: 150px !important;
  }

  .text-label-big {
    font-size: 28px;
  }
  .login-logo {
    width: 300px;
  }
}
