.label-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.selected-text-box {
  font-size: 20px;
  position: relative;
  display: flex;
  padding-bottom: 0;
  border-radius: 15px;
  height: 3em;
  width: 70%;
}

.selected-text-box .selected-text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  overflow-y: auto;
  align-content: center;
}

.sequence-form {
  flex: 2;
  position: relative;
  width: 100%;
}

.sequence-form .group-seq {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
}

.add-seq-btn {
  flex: 1;
}

#center-row {
  justify-content: center;
}
