.label-container {
  display: flex;
  height: 100%;
}

.selected-text-box {
  flex: 3;
  border: 1px solid rgb(216, 216, 216);
  font-size: 20px;
  position: relative;
  display: flex;
  padding-bottom: 0;
  border-radius: 15px;
}

.selected-text-box .selected-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  overflow-y: auto;
}

.sequence-form {
  flex: 2;
  position: relative;
  width: 100%;
}

.sequence-form .group-seq {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
}

.add-seq-btn {
  flex: 1;
}
