.input-box-seq-seq {
    background-color: white;
    flex-grow: 9;
    border-radius: 5px;
    border: #dfdede solid 1px;
    height: 4rem;
    font-size: 25px;
  }

  .label-btn-seq-seq {
    margin-left: 1rem;
    flex-grow: 1;
    background-color: #063954;
    color: black;
  }