div.row,
#manage-btn-row,
#account-btn-row {
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
}

button.logout {
  color: #063954;
  background-color: #fdd4e6;
  border-color: #fdd4e6;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
}

button.logout:hover {
  color: #063954;
  background-color: #fdd4e6;
  border-color: #fdd4e6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

button.logout:not(:disabled):not(.disabled):active,
button.logout:focus,
button.logout:not(:disabled):not(.disabled):active:focus {
  color: #063954;
  background-color: #fdd4e6;
  border-color: #fdd4e6;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

button.pass {
  color: #063954;
  background-color: #ffeacc;
  border-color: #ffeacc;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
}

button.pass:hover {
  color: #063954;
  background-color: #ffeacc;
  border-color: #ffeacc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

button.pass:not(:disabled):not(.disabled):active,
button.pass:focus,
button.pass:not(:disabled):not(.disabled):active:focus {
  color: #063954;
  background-color: #ffeacc;
  border-color: #ffeacc;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

button.generic {
  color: #063954;
  background-color: #cdffff;
  border-color: #cdffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
}

button.generic:hover {
  color: #063954;
  background-color: #cdffff;
  border-color: #cdffff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

button.generic:not(:disabled):not(.disabled):active,
button.generic:focus,
button.generic:not(:disabled):not(.disabled):active:focus {
  color: #063954;
  background-color: #cdffff;
  border-color: #cdffff;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.red-text {
  color: #f52882;
}

.pass-create-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.pass-create-container Form {
  border-radius: 10px;
  width: fit-content;
}

.pass-titleLabel {
  font-size: 30px;
  width: max-content;
}

@media (min-width: 768px) {
  .pass-create-container Form {
    width: 30em;
  }
}

button.dark {
  color: #FFFFFF;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
  margin-left: 0px;
  margin-right: 2em;
}

button.dark:hover {
  color: #FFFFFF;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

button.dark:not(:disabled):not(.disabled):active,
button.dark:focus,
button.dark:not(:disabled):not(.disabled):active:focus {
  color: #FFFFFF;
  background-color: #063954;
  border-color: #063954;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

input.filter {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.3em;
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  color: #495057;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input.filter:focus {
  color: #495057;
  background-color: #fff;
  border-color: #00C8C8;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 200 200 / 25%);
}

table.users-table {
  color: #063954;
}

svg.remove {
  color: #f52882;
  width: 1.1em;
  height: 1.1em;
  margin-right: 0.2em;
}

td.right {
  text-align: end;
}
